<!DOCTYPE html>
<html>
<head>
  <title>HTML test</title>
  <meta charset="utf-8">
  <link href='http://blog.pulipuli.info/favicon.ico' rel='icon' type='image/x-icon'/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function() {
  	$("#myButton").click(function() { 
  		$("#helloWorldDiv").html("jQuery Hello world example"); 

  	});
    function post_transaction(jsonrpc){
      $.ajax({
        type: "POST",        
        url: "/transaction",
        data: JSON.stringify(jsonrpc),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(data){
          alert(data);
        },
        failure: function(errMsg) {
          alert(errMsg);
        }
      });      
    }    
    
/*
    def do_function_void(self):
    def do_function_one_arg(self,arg1):
    def func_with_args(self, argNum, argStr):
    def storage_setter(self, KeyStr, Value):
    def storage_getter(self, KeyStr):
*/

    $('#do_function_void_Btn').click(function(){
      console.log($(this).attr('id')+' clicked');
      var json_obj = {"func":"do_function_void" };
      post_transaction(json_obj);
    });
    $('#do_function_one_arg_Btn').click(function(){
      console.log($(this).attr('id')+' clicked');
      var json_obj = {"func":"do_function_one_arg","arg1":333 };
      post_transaction(json_obj);
    });
    $('#func_with_args_Btn').click(function(){
      console.log($(this).attr('id')+' clicked');
      var json_obj = {"func":"func_with_args","argNum":353,"argStr":"StrMilo" };
      post_transaction(json_obj);
    });
    $('#storage_setter_Btn').click(function(){
      console.log($(this).attr('id')+' clicked');
      var json_obj = {"func":"storage_setter","KeyStr":"Web-front-end","Value":3344 };
      post_transaction(json_obj);
    });
    $('#storage_getter_Btn').click(function(){
      console.log($(this).attr('id')+' clicked');
      var json_obj = {"func":"storage_getter","KeyStr":"Web-front-end"};
      post_transaction(json_obj);
    });




    
  	$('#JsonrpcTestBtn').click( function(){
      console.log('JsonrpcTestBtn is click')
      var json_obj = { "func": "qoo_function", "markerPosition": "7" }
      $.ajax({
        type: "POST",        
        url: "/transaction",
        data: JSON.stringify(json_obj),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(data){
          alert(data);
        },
        failure: function(errMsg) {
          alert(errMsg);
        }
      });
    });
  		

});  


</script>
</head>
<body>    
<div id='test'>
  <h1>index.html</h1>
  <pre>
    def do_function_void(self):
    def do_function_one_arg(self,arg1):
    def func_with_args(self, argNum, argStr):
    def storage_setter(self, KeyStr, Value):
    def storage_getter(self, KeyStr):
  </pre>

	<button id="do_function_void_Btn" class="btn btn-primary">do_function_void_Btn</button><br>
  <button id="do_function_one_arg_Btn" class="btn btn-primary">do_function_one_arg_Btn</button><br>
  <button id="func_with_args_Btn" class="btn btn-primary">func_with_args_Btn</button><br>
  <button id="storage_setter_Btn" class="btn btn-primary">storage_setter_Btn</button><br>
  <button id="storage_getter_Btn" class="btn btn-primary">storage_getter_Btn</button><br>

  
	<button id="JsonrpcTestBtn" class="btn btn-primary">JsonrpcTestBtn</button>
  <br>

</div>

</body>

</html>
