<!DOCTYPE html>
<html>
<head>
  <title>HTML test</title>
  <meta charset="utf-8">
  <link href='http://blog.pulipuli.info/favicon.ico' rel='icon' type='image/x-icon'/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function() {
  	$("#myButton").click(function() { 
  		$("#helloWorldDiv").html("jQuery Hello world example"); 

  	});

  	$('#Btn1').click( function(){
      $('#greenbar').css("width",'20%');
      console.log('Btn1 is click')
      var markers = [
        { "func": "128.3657142857143", "markerPosition": "7" },
        { "position": "235.1944023323615", "markerPosition": "19" },
        { "position": "42.5978231292517", "markerPosition": "-3" }
      ];

      $.ajax({
        type: "POST",        
        url: "/transaction",
        // The key needs to match your method's input parameter (case-sensitive).
        //data: JSON.stringify({ Markers: markers }),
        data: JSON.stringify({Markers: markers}),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(data){
          alert(data);
        },
        failure: function(errMsg) {
          alert(errMsg);
        }
      });

  		
  	});

  	$('#Btn2').click( function(){
  		$('#greenbar').css("width",'40%');
  		
  	});

  	$('#Btn3').click( function(){
		$('#greenbar').css("width",'80%');
  	});

});  


</script>
</head>
<body>    
<div id='test'>
  <h1>index.html</h1>
	<button id="myButton" class="btn btn-primary">Print Hello World</button>
	<button id="Btn1" class="btn btn-primary">Btn1</button>
	<button id="Btn2" class="btn btn-primary">Btn2</button>
	<button id="Btn3" class="btn btn-primary">Btn3</button>
	</br>
	<button id="Transaction do_function_void()" class="btn btn-primary">BtnA</button>
	<button id="BtnB" class="btn btn-primary">BtnB</button>
	<button id="BtnC" class="btn btn-primary">BtnC - invoke AI</button>
</div>

</body>

</html>
